// out: false

/* WP */
.alignright {
  float: right;
  margin-left: 1em;
  margin-bottom: 1em;
}
.alignleft {
  float: left;
  margin-right: 1em;
  margin-bottom: 1em;
}
img.centered,
.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
img.alignright {
  display: inline;
}
img.alignleft {
  display: inline;
}
.wp-caption {
  margin-bottom: 1.5em;
  max-width: 100%;
}
.wp-caption img[class*="wp-image-"] {
  display: block;
  margin: 0 auto;
}
.wp-caption-text {
  text-align: center;
}
.wp-caption .wp-caption-text {
  margin: 0.8em 0;
}

.sticky {
  display: block;
}
.hentry li ul,
.hentry li ol {
  margin: 0.5em 0;
}
.updated:not(.published) {
  display: none;
}
.bypostauthor {
  background-color: #f8f5e7;
}
.single .content-area .byline {
  display: inline;
}
.page-links {
  clear: both;
  margin: 0 0 1.5em;
}
img.wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}
embed,
iframe,
object {
  max-width: 100%;
}
.navigation {
  clear: both;
}
body.home .gallery,
.gallery {
  margin: 0 -10px 1.5em;
}
.gallery:after {
  display: table;
  content: "";
  clear: both;
}
.gallery-item {
  float: left;
  text-align: center;
  vertical-align: top;
  width: 100%;
  margin: 0;
  padding: 10px;
}
.gallery-columns-2 .gallery-item {
  width: 50%;
}
.gallery-columns-3 .gallery-item {
  width: 33.3333%;
}
.gallery-columns-4 .gallery-item {
  width: 25%;
}
.gallery-columns-5 .gallery-item {
  width: 20%;
}
.gallery-columns-6 .gallery-item {
  width: 16.6666%;
}
.gallery-columns-7 .gallery-item {
  width: 14.2857%;
}
.gallery-columns-8 .gallery-item {
  width: 12.5%;
}
.gallery-columns-9 .gallery-item {
  width: 11.1111%;
}
.gallery-columns-2 .gallery-item:nth-child(2n + 1),
.gallery-columns-3 .gallery-item:nth-child(3n + 1),
.gallery-columns-4 .gallery-item:nth-child(4n + 1),
.gallery-columns-5 .gallery-item:nth-child(5n + 1),
.gallery-columns-6 .gallery-item:nth-child(6n + 1),
.gallery-columns-7 .gallery-item:nth-child(7n + 1),
.gallery-columns-8 .gallery-item:nth-child(8n + 1),
.gallery-columns-9 .gallery-item:nth-child(9n + 1) {
  clear: left;
}
.gallery-caption {
  display: block;
}
.edit-link a {
  position: fixed;
  bottom: 5px;
  left: 5px;
  display: block;
  width: 32px;
  height: 32px;
  line-height: 30px;
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  text-align: center;
  border: 2px solid #fff;
  font-size: 10px;
  overflow: hidden;
  z-index: 900;
  font-family: arial, sans-serif;
}
.fb-comments {
  clear: both;
  display: block;
}
.search-field {
  max-width: 100%;
  box-sizing: border-box;
}
.site-main > .page-header {
  margin: 0;
  border: none;
  padding: 0;
}

/* Jetpack */
.infinite-scroll .content-pagination {
  display: none;
}

/* Comments */

.comments-area {
  clear: both;
  margin-bottom: 15px;
}
.comment-list {
  list-style: none;
  margin-bottom: 20px;
  padding: 0;
  border: 1px solid #e2e2e2;
  border-bottom: none;
  .comment {
    border-bottom: 1px solid #e2e2e2;
    padding: 25px;
    background-color: #f8f8f8;
  }
  .vcard {
    img.avatar {
      float: left;
      margin: 5px 12px 0 0;
    }
    .says {
      display: none;
    }
  }
  .comment-metadata {
    font-size: 0.8em;
    line-height: 1.4em;
    &:after {
      content: "";
      clear: both;
      display: block;
      margin-bottom: 15px;
    }
    a {
      opacity: 0.8;
    }
  }
  .children {
    list-style: none;
    margin: 0;
    padding: 0;
    .comment {
      border-bottom: none;
      padding-bottom: 0;
    }
  }
}
.comment-respond {
  background-color: #eee;
  padding: 25px 25px 5px;
  margin-top: 20px;
  label {
    display: block;
    margin: 0;
  }
}
.comment-form-comment {
  margin-bottom: 10px;
  textarea {
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
  }
}
.comment-form-author,
.comment-form-email,
.comment-form-url {
  input {
    width: 100%;
    border: 1px solid #ccc;
    padding: 3px 5px;
  }
}

/* Widgets */
.search-form {
  width: 100%;
  height: 40px;
  max-width: 300px;
  background-color: #fff;
  border: 1px solid $line;
  border-radius: 3px;
  position: relative;
  > label {
    margin-bottom: 0;
    width: 100%;
    &:after {
      content: "\e914";
      font-family: "seed-icons" !important;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      display: block;
      position: absolute;
      right: 8px;
      top: 8px;
      z-index: 2;
      color: $gray;
      font-size: 20px;
    }
  }
  .search-field {
    width: calc(100% - 30px);
    border: none;
    background: none;
    height: 40px;
    padding: 0 6px 0 14px;
    font-weight: normal;
    font-size: 16px;
  }
  .search-submit {
    height: 40px;
    background: none;
    border: none;
    width: 40px;
    border-radius: 0;
    color: transparent;
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    box-shadow: none !important;
  }
}

// label {
//   font: bold 16px Lato;
//   display: block;
//   padding: 16px 0;
// }
.js-Dropdown {
  display: inline-block;
  font: 400 14px sans-serif;
  position: relative;
  width: calc(100% + 25px);
}
.js-Dropdown-title {
  background: #fff;
  color: #fff;
  border: 0;
  border-radius: 3px;
  box-sizing: border-box;
  cursor: pointer;
  font: 400 14px sans-serif;
  font-family: $heading-font;
  font-weight: 600;
  height: 2em;
  padding: 0 1em;
  position: relative;
  text-align: left;
  width: 100%;
}
.js-Dropdown-title:after {
  border-color: #a5a5a5 transparent transparent transparent;
  border-style: solid;
  border-width: 8px;
  content: '';
  display: block;
  height: 0;
  position: absolute;
  right: .7em;
  top: 40%;
  width: 0;
}
.js-Dropdown-list {
  background: #fff;
  box-sizing: border-box;
  display: none;
  height: 0;
  list-style: none;
  margin: 0;
  opacity: 0;
  padding: 0;
  position: absolute;
  transition: .2s linear;
  width: 100%;
  z-index: 999;
}
.js-Dropdown-list.is-open {
  display: block;
  height: auto;
  opacity: 1;
}
.js-Dropdown-list li {
  cursor: pointer;
  padding: .75em 1em;
  font-family: $heading-font;
}
.js-Dropdown-list li:hover {
  background-color: pink;
}
.js-Dropdown-list li.is-selected {
  background-color: crimson;
  color: #eee;
}
.js-Dropdown-optgroup {
  background: #444;
  border-bottom: 1px solid #a5a5a5;
  color: #ddd;
  cursor: default;
  padding: .5em;
  text-align: center;
}