// out: ../desktop.css, compress: true, sourceMap: false, autoprefixer: last 5 versions, groupmedia: true

@import "_variables.scss";

/* == HEADER == */
body.headbar-d {
  .site-branding,
  .site-member {
    display: none;
  }
}
.site-header {
  height: $header-d-height;
  background-color: $header-d-bg;
  line-height: 1;
  &.-top-logo {
    > .s-container {
      padding: 0;
      max-width: 100%;
    }
  }
  > .s-container {
    position: relative;
    height: $header-d-height;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
  }
  body.admin-bar & {
    top: 32px;
  }
  a {
    color: $header-d-text;
    &:hover {
      color: $header-d-hover-text;
    }
  }
}
.site-header-space {
  height: $header-d-height;
}
.site-branding {
  position: relative;
  top: 50%;
  left: 0;
  height: 20px;
  transform: translate(0,-50%);
  img {
    max-height: $header-d-height;
  }
}
.site-title {
  font-size: 24px;
}
.site-description {
  display: inline-block;
  margin: 0;
  padding-left: 15px;
  opacity: 0.75;
  padding-top: 2px;
}

.site-nav-d {
  margin-left: auto;
  > div {
    height: 100%;
  }
  .children {
    display: none;
  }
  ul {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: stretch;
    height: 100%;
  }
  li {
    height: 100%;
    list-style: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    transition: 0.3s ease-in-out;
    a {
      display: block;
      position: relative;
      padding: 12px 17px;
      font-size: .9em;
      &:after {
        content: '';
        display: inline-block;
        margin-left: 17px;
        margin-right: -17px;
        width: 1px;
        height: 100%;
        background-color: #fff;
        vertical-align: bottom;
      }
    }
    &:last-child {
      a {
        &:after {
          display: none;
        }
      }
    }
    &:hover {
      > .sub-menu {
        opacity: 1;
        max-height: 100vh;
        top: 100%;
        height: auto;
        z-index: 91;
        overflow: visible;
      }
    }
  }
  .sub-menu {
    display: block;
    text-align: left;
    overflow: hidden;
    opacity: 0;
    height: auto;
    max-height: 0;
    position: absolute;
    z-index: 90;
    top: calc(100% + 5px);
    filter: drop-shadow($submenu-shadow);
    transition: all 0.3s ease-in-out;
    background-color: $nav-d-bg;
    min-width: 180px;
    &::before {
      content: "";
      position: absolute;
      top: -8px;
      left: 30px;
      width: 0;
      height: 0;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-bottom: 8px solid $nav-d-bg;
      z-index: 1;
    }
    li {
      height: auto;
      line-height: 1.4;
      position: relative;
      padding: 0 15px;
      a {
        padding: 10px 0;
        display: block;
        color: $nav-d-text;
        text-align: left;
        border-bottom: 1px solid $header-d-line;
      }
      &:last-child {
        > a {
          border-bottom: none;
        }
      }
      &:hover {
        .sub-menu {
          top: 0;
          z-index: 92;
        }
      }
    }
    .sub-menu {
      left: 100%;
      top: 5px;
      &::before {
        display: none;
      }
      .sub-menu {
        display: none;
      }
    }
  }
  &.-logged-in {
    display: flex;
    align-items: center;
    .name {
      margin-left: 8px;
    }
  }
}
.site-member {
  position: relative;
  margin-left: 20px;
  right: auto;
  top: auto;
  transform: none;
  .m-user {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
  }

  .info {
    padding-left: 8px;
    display: block;
  }
}
.action-left,
.action-right {
  position: relative;
  transform: none;
  left: auto;
  right: auto;
}
.site-action {
  position: relative;
  align-items: center;
  display: flex;
  padding-left: 8px;
  .widget {
    margin: 0;
  }
  a {
    padding: 10px 0 10px 16px;
    font-size: 20px;
    &.site-search {
      padding-right: 0;
    }
  }
}
.site-phone,
.site-custom {
  display: none;
}
.site-toggle {
  display: none;
}

/* == BODY == */
.main-header {
  margin-bottom: $space-d / 2;
  padding-top: $space-d;
  padding-bottom: 0;
  .breadcrumbs {
    display: block;
    text-align: left;
    
  }
  &.-banner {
    padding-bottom: $space-d - 4;
    min-height: $title-d-height;
    margin-bottom: $space-d;
    .main-title {
      width: 750px;
    }
  }
  &.-minimal {
    margin-bottom: 25px;
    padding-top: 0;
    padding-bottom: 0;
    height: 100px;
    display: flex;
    align-items: center;
    .title {
      font-size: 30px;
    }
  }
  .title {
    font-size: $title-d-size;
  }
}

/* CONTENT ITEM */
.content-item {
  &.-hero {
    border-radius: $box-border-radius;
    overflow: hidden;
    display: grid;
    grid-template-columns: 73fr 38fr;
    .pic {
      margin-bottom: 0;
      > a {
        display: flex;
        height: 100%;
      }
      img {
        max-height: 600px;
      }
    }
    .info {
      padding: 30px;
    }
  }
}
.content-pagination {
  margin-bottom: $space-d;
}
.main-body {
  &.-rightbar {
    display: flex;
    align-items: stretch;
    .widget-area {
      width: 340px;
      padding-left: $space-d;
    }
    .content-area {
      width: calc(100% - 340px);
    }
  }
  &.-leftbar {
    display: flex;
    flex-direction: row-reverse;
    align-items: stretch;
    .widget-area {
      width: 240px;
      padding-right: $space-d;
    }
    .content-area {
      width: calc(100% - 240px);
    }
  }
  &.-leftrightbar {
    display: flex;
  }
}
/* FORM - Page Template */
body.page-template-page-form .site-content {
  @media (min-width: 992px) {
    padding-top: 35px;
    padding-bottom: 35px;
  }
}
.page-form {
  padding: 15px 25px 1px;
  max-width: 920px;
  .site.-header-desktop-overlay & {
    background-color: #fff;
    margin-top: -80px;
    position: relative;
  }
}
/* SINGLE - AUTHOR PROFILE */
.prop-navigation {
  position: absolute;
  top: 50%;
  left: 50%;
  height: auto;
  width: auto;
  transform: translate(-50%,-50%);
  ul {
    li {
      a {
        color: #fff;
      }
    }
  }
}
.project-option {
  margin-bottom: 0;
  .option-roomtype {
    order: 1;
  }
  .option-unit {
    order: 2;
  }
  .single-pic {
    order: 3;
  }
}
.option-roomtype {
  ul {
    li {
      width: auto;
      a {
        height: auto;
        margin: 15px 30px;
        display: inline-block;
        font-size: 1em;
        line-height: 1.65em;
        opacity: 1;
        border: 1px solid transparent;
        &:hover {
          font-weight: 700;
          border: 1px solid #fff;
        }
      }
    }
  }
}
.single-pic {
  margin-bottom: 40px;
  img {
    height: 406px;
  }
}
.option-content {
  > div {
    padding: 15px 20px;
  }
  .title {
    display: inline-block;
    margin-right: 10px;
  }
  .js-Dropdown {
    display: inline-block;
  }
  &.-top {
    > div {
      display: inline-block;
      padding: 0 20px;
    }
  }
}
.project-description,
.room-description {
  .item {
    .title {
      width: 150px;
    }
    .desc {
      width: calc(100% - 160px);
    }
    &.-home {
      .title {
        width: 80px;
      }
      .desc {
        width: calc(100% - 90px);
      }
    }
  }
}
.room-description {
  position: relative;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: -30px;
    width: 1px;
    height: 100%;
    background-color: #707070;
  }
}
.maps-description {
  .item {
    margin-left: 0;
    margin-right: 0;
    .title {
      padding-left: 0;
      padding-right: 0;
    }
    iframe {
      height: 450px;
    }
  }
}
.price-description {
  font-size: 1em;
  text-align: left;
  .item {
    &.-promotion {
      margin-left: 0;
      margin-right: 0;
      padding: 20px;
      text-align: left;
    }
  }
}

.floor-plan-gallery  {
  padding: 30px;
  margin-left: 0;
  margin-right: 0;
}

.more-condition {
  margin-bottom: 0;
}

.side-reserve {
  width: 310px!important;
  margin-left: 0;
  margin-right: 0;
  padding: 23px 25px 12px;
  .reserve {
    .title {
      display: block;
      line-height: 1em;
    }
    .pricing {
      display: block;
    }
  }
}

.entry-author {
  margin-top: 40px;
  text-align: left;
  display: flex;
  align-items: center;
  .pic {
    margin: 0;
    padding-right: $space-m;
  }
}

.single-area {
  >.content-area {
    .entry-title {
      text-align: left;
    }
  }
}
/* COMMENTS */
.comments-area {
  margin-bottom: 30px;
}
.comment-form-author {
  float: left;
  width: 32%;
  margin-right: 2%;
}
.comment-form-email {
  float: left;
  width: 32%;
  margin-right: 2%;
}
.comment-form-url {
  float: left;
  width: 32%;
}

/* == SIDEBAR == */

/* == WOOCOMMERCE CUSTOM == */

.checkout-image {
  img {
    height: 406px;
  }
}

.order-description {
  padding-bottom: 25px;
  h2 {
    font-size: 1.6em;
  }
  h3 {
    font-size: 1.6em;
  }
  h4 {
    font-size: 1.1em;
  }
  .order-line {
    margin: 60px auto 0;
    max-width: 670px;
  }
}

.house-item {
  .kt-image-overlay-wrap.kt-over-image-zoomin .kt-block-intrisic>img {
    height: 206px;
  }
}

/* FOOTER */

.site-login {
  max-height: 400px;
}
.site-footer-space {
  min-height: $footer-d-height;
}
.site-footer {
  min-height: $footer-d-height;
}
.site-footpage {
  text-align: left;
}